header {

  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 65% 35%;

  @media only screen and (min-width: 480px) {

    grid-template-columns: 45% 55%;

  }

  @media only screen and (min-width: 640px) {

    grid-template-columns: 33% 67%;

  }

  @media only screen and (min-width:1200px) {

    width: 1000px;

  }

  @media only screen and (min-width: 1440px) {

    width: 1360px;
    grid-template-columns: 33% 67%;
    padding-top: 20px;
    padding-bottom: 10px;

  }

  @media only screen and (min-width: 1600px) {

    width: 1529px;

  }

  a.logo-cul {

    grid-column: 1/2;
    padding-top: 20px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;

  }

  nav.user-tools {

    text-align: right;
    margin-top: 0;
    grid-column: 2/3;
    padding-top: 15px;

    li {

      padding-right: 0;
      display: inline-block;
      @media only screen and (min-width: 768px) {

        &:nth-last-child(1) a {
          border-right: none;

        }

      }

      a {

        font-size: 14px;

        @media only screen and (min-width: 768px) {

          font-size: 16px;
          border-right: 1px solid grey;
          padding-left: 6px;
          padding-right: 6px;

        }

      }

    }

  }

}

.hero__content {

  background-color: #425F72 !important;
  border-radius: 5px;
  height: 345px;
  display: grid;
  margin: 0 auto;
  width: calc(100vw - 20px);
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50px 50px auto;

  @media only screen and (min-width: 768px) {

    display: grid;
    margin: 0 auto;
    width: calc(100vw - 20px);
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;

  }
  @media only screen and (min-width: 1200px) {

    width: 1000px;

  }
  @media only screen and (min-width: 1440px) {

    height: 425px;
    width: 1360px;

  }
  @media only screen and (min-width: 1600px) {

    height: 530px;
    width: 1529px;

  }

  .all-libraries {

    grid-column: 1/4;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 20px 0 0 20px;
    height: 50px;

    @media only screen and (min-width: 768px) {

      grid-column: 1/2;

    }
    @media only screen and (min-width: 1440px) {

      font-size: 24px;

    }
    @media only screen and (min-width: 1600px) {

      padding: 30px 0 0 20px;

    }

    a {

      display: inline-block;
      color: #fff;

    }

  }

  .college {

    grid-column: 1/4;
    display: block;
    text-align: left;
    padding: 0 0 0 20px;
    display: none;

    @media only screen and (min-width: 768px) {

      grid-column: 3/4;
      padding: 20px 20px 0;
      text-align: right;
      display: block;

    }
    @media only screen and (min-width: 1440px) {

      font-size: 24px;

    }

    @media only screen and (min-width: 1600px) {

      padding: 30px 20px 0;

    }

    a {

      font-size: 18px;
      color: #fff;
      letter-spacing: 0;

      @media only screen and (min-width: 768px) {

        line-height: 1.3em;

        @media only screen and (min-width: 1440px) {

          font-size: 24px;

        }

      }

    }

  }

  .subheader {

    grid-column: 1/4;
    padding-left: 15px;
    padding-top: 195px;

    @media only screen and (min-width: 768px) {

      align-self: end;
      padding-top: 250px;
      padding-left: 40px;

    }

    h1 {

      font-size: 19px;
      margin: 0;
      padding-bottom: 8px;

      a {

        color: #fff;

      }

      @media only screen and (min-width: 768px) {

        font-size: 30px;

      }
      @media only screen and (min-width: 1440px) {

        font-size: 38px;

      }

    }

    time {

      font-size: 14px;
      color: #fff;

      a.full-hours {

        margin-left: 5px;
        color: #fff;
        font-weight: bold;
        padding: 3px 10px;
        margin-left: 0;
        padding-left: 0;

        &:hover {

          background-color: none;
          text-decoration: underline;

        }

      }

      @media only screen and (min-width: 1440px) {

        font-size: 30px;

      }

      i {

        color: #F8E71C;
        font-size: 26px;
        vertical-align: middle;
        padding-right: 4px;

        @media only screen and (min-width: 1440px) {

          font-size: 30px;
          margin-top: -5px;

        }

      }

    }

    ul {

      margin-left: 16px;
      display: inline-block;
      color: #fff;
      padding-left: 15px;

      @media only screen and (min-width: 445px) {

        margin-left: 0;
        padding-left: 0;

      }

      @media only screen and (min-width: 1440px) {

        font-size: 30px;

      }

      li {

        display: inline-block;
        font-size: 20px;
        padding-right: 10px;

        @media only screen and (min-width: 1440px) {

          font-size: 30px;

        }

        a {

          color: #fff;

          span {

            display: inline-block;
            border-bottom: none;

          }

          span:hover {

            display: inline-block;
            border-bottom: 3px solid #fff;

          }

        }

      }

    }

  }

}



.page-home {

  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 100%;



  @media only screen and (min-width:1200px) {

    width: 1000px;

  }

  @media only screen and (min-width: 1440px) {

    width: 1360px;
    padding-top: 20px;
		padding-bottom: 10px;
    padding-left: 40px;

  }

  @media only screen and (min-width: 1600px) {

    width: 1529px;

  }
}



footer {
  border-top: 1px solid #E0E0E0;
  display: grid;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  //margin-top: 50px;
  //grid-template-columns: 33% 33% 34%;
  grid-template-columns: 100%;
  @media only screen and (min-width: 1200px) {
    grid-template-columns: 33% 33% 34%;
    width: 1000px;
  }

  .footer__nav {
    //grid-column: 1/3;
    grid-column: 1;
    padding-left: 0;
    @media only screen and (min-width: 1200px) {
      grid-column: 1/3;
    }

    .all-libraries {
      font-size: 14px;
      color: #303C42;
      letter-spacing: 0;
      text-align: 0;
      line-height: 14.36px;
      font-size: 12px;
      color: #303C42;
      letter-spacing: 0;
      text-decoration: none;
      display: block;
      padding-bottom: 20px;
    }

    strong {
      color: #3B3B3B;
      font-weight: 700;
    }

    .unit-library {
      display: inline-block;
      float: left;
      font-size: 14px;
      font-weight: bold;
    }

    ul {
      padding-left: 0;
      float: left;
      font-size: 14px;
      margin-left: 0;
      @media only screen and (min-width: 636px) {
        margin-left: 10px;
      }
    }

    li {
      display: inline-block;
      padding-right: 10px;

      &:first-child {
        //padding-left: 20px;
        padding-left: 0;
      }
    }
  }

  .college {
    //grid-column: 3/4;
    grid-column: 1;
    font-size: 12.53px;
    color: #303C42;
    letter-spacing: 0;
    text-align: 0;
    line-height: 14.36px;
    padding-top: 20px;
    padding-bottom: 10px;
    @media only screen and (min-width: 1200px) {
      grid-column: 3/4;
    }
  }

  address.library {
    grid-column: 1;
    @media only screen and (min-width: 1200px) {
      grid-column: 1/3;
    }
    //padding-left: 10px;
    font-size: 14px;
    font-style: normal;

    .container {
      display: grid;
      width: 100%;
      grid-template-columns: 50% 50%;

      address {
         font-style: normal;
      }

      a {
        font-weight: bold;
      }

      .c-1 {
        grid-column: 1/2;
      }

      .c-2 {
        grid-column: 2/3;
        //padding-top: 35px;

        p {
          padding-bottom: 0;
        }
      }
    }
  }

  address.cornell {
    //grid-column: 1/4;
    grid-column: 1;
    //padding-left: 10px;
    font-size: 14px;
    font-style: normal;
    padding-top: 20px;

    a {
      font-weight: bold;
    }
    @media only screen and (min-width: 1200px) {
      grid-column: 1/4;
    }
  }

  .feedback {
    //grid-column: 1/3;
    padding-top: 20px;
    //padding-left: 10px;
    font-size: 14px;
    @media only screen and (min-width: 1200px) {
      grid-column: 1/3;
    }

    .btn-graphic {
      padding: 11px 16px;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  @media only screen and (min-width: 1440px) {
    width: 1380px;
  }
  @media only screen and (min-width: 1600px) {
    width: 1529px;
  }
}

.btn-graphic {
  background: #4B4534;
  border-radius: 1.5px;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  padding: 11px 56px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
