/*---

  Header section including:
  # Branding
  # User tools: My account and Search

---*/

header.branding {

  display: grid;
  margin: 10px auto;
  width: calc(100vw - 40px);
  grid-template-columns: 67% 33%;

  @media only screen and (min-width: 600px) {

    width: 90%;

  }

  @media only screen and (min-width: 1440px) {

    width: 1360px;
    padding-bottom: 10px;

  }

  @media only screen and (min-width: 1600px) {

    width: 1529px;

  }

  a.logo-cul {

    grid-column: 1/2;
    padding-top: 20px;
    display: inline-block;

  }

  nav.user-tools {

    text-align: right;
    margin-top: 0;
    grid-column: 2/3;
    padding-top: 15px;

    ul {

      width: auto;
      margin: 0;
      padding: 0;
      padding-top: 3px;

    }

    li {

      padding-right: 0;
      display: inline-block;

      @media only screen and (min-width: 768px) {

        &:nth-last-child(1) a {

          padding-right: none;

        }

      }

      a {

        font-size: 18px;
        padding-right: 7px;

      }

    }

  }

}

/*---
  Hero content section for homepage
    # Nav main library
    # College url
    # Library header
    # Time open/close
    # Contact and Google map link
    # Background header
---*/

.hero__content {

  display: grid;
  //grid-template-columns: 60% 40%;
  grid-template-columns: 100%;
  //grid-template-rows: 62px;
  //width: 1360px;
  width: 96%;
  margin: 0 auto;

  /*---
    # Nav main library
  ---*/

  .all-libraries {

    background-color: #6C9BB9;
    height: 62px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 20px 0 0 20px;
    color: #fff;


    span {

      font-size: 14px;
      font-weight: normal;
      padding-left: 5px;

      a {

        padding-left: 5px;

      }

    }

    a {

      display: inline-block;
      color: #fff;

    }

  }

  /*---
    # College url
  ---*/

  .college {

    display: none;
    text-align: right;
    font-family: $font__secondary;

    a {

      color: red;

    }
  }

  /*---
    # Library header
  ---*/

  .home-header {

    height: 275px;
    background-color: rgba(10,57,74, .9);
    padding-left: 20px;
    padding-top: 20px;

    h1 {

      font-size: 28px;
      margin: 0;
      padding-bottom: 8px;

      @media only screen and (min-width: 600px) {

        //font-size: 26px;

      }

      @media only screen and (min-width: 1440px) {

        //font-size: 38px;

      }

      a {

        color: #fff;

      }

    }

    /*---
      # Time open/close
    ---*/

    time {

      font-size: 14px;
      color: #fff;

      @media only screen and (min-width: 375px) {

        font-size: 16px;

      }

      @media only screen and (min-width: 640px) {

        font-size: 18px;

      }

      @media only screen and (min-width: 1440px) {

        font-size: 30px;

      }

      a.full-hours {

        margin-left: 5px;
        color: #fff;
        padding: 3px 10px;
        margin-left: 0;
        padding-left: 0;
        font-weight: bold;

        &:hover {

          background-color: none;
          text-decoration: underline;

        }

      }

      .icon-time {

        color: #F8E71C;
        font-size: 26px;
        vertical-align: middle;
        padding-right: 4px;

        @media only screen and (min-width: 1440px) {

          font-size: 30px;
          //margin-top: -5px;

        }

      }

    }
    /*---
      # Contact and Google map link
    ---*/

    .header-contact {

      margin-left: 0;
      display: inline-block;
      color: #fff;
      padding-left: 5px;
      margin-bottom: 0;

      @media only screen and (min-width: 1440px) {

        font-size: 30px;
        padding-left: 18px;

      }

      li {

        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        padding-right: 10px;
        margin-bottom: 0;


        @media only screen and (min-width: 1440px) {

          font-size: 30px;

        }

        a {

          color: #fff;

          span {

            display: inline-block;
            border-bottom: none;

          }

          span:hover {

            display: inline-block;
            border-bottom: 3px solid #fff;

          }

        }

      }

    }

  }

}

/*---
  # Background header
---*/

.bg-header {

  position: absolute;
  background-color: #425F72;
  top: 130px;
  z-index: -9999;
  //margin: 0 auto;
  //width: calc(100vw - 40px);
  height: 295px;
  width: 100%;
  margin-top: -30px;

}


/*---

  Hero content section for interior pages

---*/


.hero__content.interior-pages {

  background-color: rgba(179,27,27, .8) !important;
  border-radius: 5px;
  height: 230px;
  display: grid;
  display: none;
  margin: 0 auto;
  width: calc(100vw - 40px);
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40px auto;

  background: url('images/hero/hero-home-top.svg')no-repeat center -120px;

  @media only screen and (min-width: 600px) {
    background: url('images/hero/hero-home-top.svg')no-repeat center -120px;
    width: 90%

  }

  @media only screen and (min-width: 768px) {
    background: url('images/hero/hero-home-top.svg')no-repeat center -120px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;
  }

  @media only screen and (min-width: 1440px) {
    background: #463F2E url('images/hero/hero-home-top.svg')no-repeat center -120px;
    height: 280px;
    width: 1360px;

  }
  @media only screen and (min-width: 1600px) {
    background: #463F2E url('images/hero/hero-home-top.svg')no-repeat center -75px;

    height: 350px;
    width: 1529px;
  }

  .subheader {

    grid-column: 1/4;
    padding-left: 15px;
    padding-top: 95px;

    @media only screen and (min-width: 768px) {

      align-self: end;
      padding-top: 80px;
      padding-left: 20px;

    }
  }
}

/*---

  Body section for homepage

---*/

.page-home {

  display: grid;
  margin: 0 auto;
  width: calc(100vw - 40px);
  grid-template-columns: 100%;

  padding: 10px;
  padding-bottom: 0;

  @media only screen and (min-width: 600px) {

    width: 90%;

  }

  @media only screen and (min-width: 1440px) {

  width: 1360px;

  }

  @media only screen and (min-width: 1600px) {

    width: 1529px;


  }

  article header {
    display: none;
  }

  article .entry-content {
    margin-top: 0;
  }
}
