
.main-navigation {

  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 100%;

  //position: absolute;
  //top: 0;
  //left: 0;

  @media only screen and (min-width:1200px) {

    position: relative;
    width: 1000px;

  }

  @media only screen and (min-width: 1440px) {

    width: 1360px;
    padding-top: 20px;
		padding-bottom: 10px;
    padding-left: 40px;

  }

  @media only screen and (min-width: 1600px) {

    width: 1529px;

  }

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;


		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;


			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */

//<li><a href="#"><i class="fas fa-bars"></i></a></li>

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
  margin-top: 20px;
}

.menu-toggle {
  position: absolute;
  top: 0;
  left: calc(100vw - 100px);
  font-size: 18px;
  padding: 0;
  padding-top: 13px;
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
