.main-navigation {

  margin: 10px auto;
  width: 100%;

  position: absolute;
  top: 60px;
  left: 0;

	ul {
    display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
    background-color: #fff;

    	li {
        padding: 7px 10px;
        border-bottom: 1px solid #D8D8D8;

        &:first-child {
          //border-top: 1px solid #D8D8D8;

        }

    		&:hover > a,
    		&.focus > a {

    		}
    	}

    	a {
    		display: block;
    		text-decoration: none;
    	}

		ul {
			//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			//float: left;
			position: relative;
			//top: 100%;
			//left: -999em;
			z-index: 99999;
      padding-left: 10px;

			ul {
				left: -999em;
				top: 0;
			}

			li {

        border-top: none;
        border-bottom: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%

			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}


	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: -58px;
  left: calc(100vw - 106px);
  font-size: 18px;
  padding: 0;
}


.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


@media screen and (min-width: 640px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {

    position: relative;
    margin: 10px auto;
    width: 90%;
    display: block;
    margin-bottom: 80px;
    margin-top: -40px;

    ul {
  		display: block;
  		list-style: none;
  		margin: 0;
  		padding-left: 0;

      li {
        border-bottom: none;

      }


  		ul {

  			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  			float: left;
  			position: absolute;
  			top: 100%;
  			left: -999em;
  			z-index: 99999;

  			ul {
  				left: -999em;
  				top: 0;
  			}

  			li {
  				&:hover > ul,
  				&.focus > ul {
  					left: 100%;
  				}
  			}

  			a {
  				width: 200px;
  			}

  			:hover > a,
  			.focus > a {
  			}

  			a:hover,
  			a.focus {
  			}
  		}

  		li:hover > ul,
  		li.focus > ul {
  			left: auto;
  		}
  	}

  	li {
  		float: left;
  		position: relative;

  		&:hover > a,
  		&.focus > a {
  		}
  	}

  	a {
  		display: block;
  		text-decoration: none;
  	}

  	.current_page_item > a,
  	.current-menu-item > a,
  	.current_page_ancestor > a,
  	.current-menu-ancestor > a {
  	}



  }

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}


}


@media only screen and (min-width:1200px) {


  .main-navigation {
    width: 90%;
  }

}

@media only screen and (min-width: 1440px) {

  .main-navigation {
    width: 1360px;
  }

}

@media only screen and (min-width: 1600px) {


  .main-navigation {
    width: 1529px;
  }

}
